<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeclan.example.rockpaperscissors">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SelectMove"
            android:label="Your move, creep."
            android:parentActivityName=".RulesActivity">
        </activity>

        <activity
            android:name=".OutcomeActivity"
            android:label="@string/outcome_activity_label"
            android:parentActivityName=".SelectMove">
        </activity>

        <activity
            android:name=".RulesActivity"
            android:label="Rock, Paper, Scissors">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>